	<!DOCTYPE html>
<html>
<head>
	<title>Get Employee Information</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<body bgcolor="lightgrey">

			<form action="/getEmp/fetchdata" autocomplete="on" method="POST">

				<h2 style="color: grey">Enter Employee ID</h2>

		  		Employee ID:<br> 
				<input style="height:25px;font-size:14pt;" type="number" name="emp_id" autofocus size="40"><br><br>


		  		<button type="submit" name="submit" value="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">FETCH INFO</button><br><br>

		  		<button type="submit" formaction="/" style="background: white	; height: 45px; width: 200px; color: black; size: 5; font:oblique;" method="GET">GO TO UPDATE DATABASE PAGE</button>

			</form>

			{% if (employee != null) %}
			<br/><br/>
			<div>
				<table>
					<thead>
						<th>ID</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Skill</th>
						<th>Location</th>
					</thead>
					<tbody>
						<td>{{employee[0]}}</td>
						<td>{{employee[1]}}</td>
						<td>{{employee[2]}}</td>
						<td>{{employee[3]}}</td>
						<td>{{employee[4]}}</td>
					</tbody>
				</table>
			</div>

			<div>
				<a href="/getEmp/fetchdata/edit/{{employee[0]}}">
					<button type="submit" name="submit" value="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Edit Employee</button>
				</a>

				<a href="/getEmp/fetchdata/delete/{{employee[0]}}">
					<button type="submit" name="submit" value="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Delete Employee</button>
				</a>
			</div>

			{% endif %}

		</body>
	</font>
</center>
</html>
